body {
    background: linear-gradient(to right, #0f4c75, #3498db, #0f4c75);
    font-family: 'Open Sans', sans-serif;
}

button {
    background: #0f4c75;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #3282b8 1px solid;
    cursor:pointer;
}

button:hover {
    background: #3282b8;
}

table {
    background-color: #bbe1fa;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}

tr:hover {
    background-color: #8bbabb;
}